language: php
sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  - MAGENTO_VERSION="magento-mirror-1.6.2.0"
  - MAGENTO_VERSION="magento-mirror-1.7.0.2"
  - MAGENTO_VERSION="magento-mirror-1.8.1.0"
  - MAGENTO_VERSION="magento-mirror-1.9.0.1"
  - MAGENTO_VERSION="magento-mirror-1.9.1.1"
  - MAGENTO_VERSION="magento-mirror-1.9.2.4"
  - MAGENTO_VERSION="magento-mirror-1.9.3.2"

matrix:
  fast_finish: true
  exclude:
    # Old Magento Versions are not officially supported to run with PHP 5.5
    - php: 5.5
      env: MAGENTO_VERSION="magento-mirror-1.6.2.0"
    - php: 5.5
      env: MAGENTO_VERSION="magento-mirror-1.7.0.2"

    # Old Magento Versions are not officially supported to run with PHP 5.6
    - php: 5.6
      env: MAGENTO_VERSION="magento-mirror-1.6.2.0"
    - php: 5.6
      env: MAGENTO_VERSION="magento-mirror-1.7.0.2"
    - php: 5.6
      env: MAGENTO_VERSION="magento-mirror-1.8.1.0"
    - php: 5.6
      env: MAGENTO_VERSION="magento-mirror-1.9.0.1"

    # Old Magento Versions are not officially supported to run with PHP 7.0
    - php: 7.0
      env: MAGENTO_VERSION="magento-mirror-1.6.2.0"
    - php: 7.0
      env: MAGENTO_VERSION="magento-mirror-1.7.0.2"
    - php: 7.0
      env: MAGENTO_VERSION="magento-mirror-1.8.1.0"
    - php: 7.0
      env: MAGENTO_VERSION="magento-mirror-1.9.0.1"

script:
  - curl --retry 2 --retry-delay 5 -f -sSL https://raw.githubusercontent.com/therouv/MageTestStand/master/setup.sh | bash
