<config>
    <modules>
        <Firegento_AdminLogger>
            <version>1.0.0</version>
        </Firegento_AdminLogger>
    </modules>
    <global>
        <models>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Model</class>
                <resourceModel>firegento_adminlogger_resource</resourceModel>
            </firegento_adminlogger>
            <firegento_adminlogger_resource>
                <class>Firegento_AdminLogger_Model_Resource</class>
                <entities>
                    <history>
                        <table>firegento_adminlogger_history</table>
                    </history>
                </entities>
            </firegento_adminlogger_resource>
        </models>
        <resources>
            <firegento_adminlogger>
                <setup>
                    <module>Firegento_AdminLogger</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </firegento_adminlogger>
        </resources>
        <helpers>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Helper</class>
            </firegento_adminlogger>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <model_save_after>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelSaveAfter</method>
                    </firegento_adminlogger>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelSaveBefore</method>
                    </firegento_adminlogger>
                </observers>
            </model_save_before>
            <model_delete_after>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelDeleteAfter</method>
                    </firegento_adminlogger>
                </observers>
            </model_delete_after>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Firegento_AdminLogger />
            </modules>
        </suite>
    </phpunit>
</config>