<config>
    <modules>Firegento_AdminLogger</modules>
    <global>
        <models>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Model</class>
                <resourceModel>firegento_adminlogger_resource</resourceModel>
            </firegento_adminlogger>
            <firegento_adminlogger_resource>
                <class>Firegento_AdminLogger_Model_Resource</class>
                <entities>
                    <firegento_adminlogger>
                        <table>log_firegento_adminlogger</table>
                    </firegento_adminlogger>
                </entities>
            </firegento_adminlogger_resource>
        </models>
        <helpers>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Helper</class>
            </firegento_adminlogger>
        </helpers>
    </global>
</config>