<config>
    <modules>
        <Firegento_AdminLogger>
            <version>1.0.1</version>
        </Firegento_AdminLogger>
    </modules>
    <default>
        <firegento_adminlogger_config>
            <exclude>
                <object_types>
                    <Mage_Index_Model_Event />
                    <Mage_Admin_Model_User />
                    <Enterprise_Logging_Model_Event_Changes />
                    <Enterprise_Logging_Model_Event />
                    <!-- omit infinite loops -->
                    <Firegento_AdminLogger_Model_History />
                </object_types>
                <fields>
                    <updated_at />
                    <update_time />
                </fields>
            </exclude>
        </firegento_adminlogger_config>
    </default>
    <global>
        <blocks>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Block</class>
            </firegento_adminlogger>
        </blocks>
        <models>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Model</class>
                <resourceModel>firegento_adminlogger_resource</resourceModel>
            </firegento_adminlogger>
            <firegento_adminlogger_resource>
                <class>Firegento_AdminLogger_Model_Resource</class>
                <entities>
                    <history>
                        <table>firegento_adminlogger_history</table>
                    </history>
                </entities>
            </firegento_adminlogger_resource>
        </models>
        <resources>
            <firegento_adminlogger>
                <setup>
                    <module>Firegento_AdminLogger</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </firegento_adminlogger>
        </resources>
        <helpers>
            <firegento_adminlogger>
                <class>Firegento_AdminLogger_Helper</class>
            </firegento_adminlogger>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <firegento_adminlogger>
                    <file>firegento_adminlogger.xml</file>
                </firegento_adminlogger>
            </updates>
        </layout>
        <events>
            <model_save_after>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelSaveAfter</method>
                    </firegento_adminlogger>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelSaveBefore</method>
                    </firegento_adminlogger>
                </observers>
            </model_save_before>
            <model_delete_after>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>modelDeleteAfter</method>
                    </firegento_adminlogger>
                </observers>
            </model_delete_after>
            <firegento_adminlogger_rowurl>
                <observers>
                    <catalog_product>
                        <class>firegento_adminlogger/rowUrl_product</class>
                        <method>setRowUrl</method>
                    </catalog_product>
                    <cms_page>
                        <class>firegento_adminlogger/rowUrl_page</class>
                        <method>setRowUrl</method>
                    </cms_page>
                </observers>
            </firegento_adminlogger_rowurl>
            <firegento_adminlogger_log>
                <observers>
                    <firegento_adminlogger>
                        <class>firegento_adminlogger/observer</class>
                        <method>log</method>
                    </firegento_adminlogger>
                </observers>
            </firegento_adminlogger_log>

        </events>
        <translate>
            <modules>
                <Firegento_AdminLogger>
                    <files>
                        <default>Firegento_AdminLogger.csv</default>
                    </files>
                </Firegento_AdminLogger>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <firegento_adminlogger before="Mage_Adminhtml">Firegento_AdminLogger_Adminhtml</firegento_adminlogger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <firegento_adminlogger>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>firegento_adminlogger/observer::scheduledCleanAdminLogger</model>
                </run>
            </firegento_adminlogger>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Firegento_AdminLogger />
            </modules>
        </suite>
    </phpunit>
</config>